
    <mat-card *ngIf="financialinfoLoaded">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image">
            </div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle style="color:#1e1e4e;;font-weight: 600"> FINANCIAL BALANCES</mat-card-subtitle>
            </mat-card-header>           
            
            <mat-card-content>   
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Charge Off
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialbalance.acc_charge_off_amount}}
                                </div>  
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">   
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Balance
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{financialbalance.acc_outstanding_balance}}
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">  
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Installment
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{financialbalance.acc_installment}}
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Arreas
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialbalance.acc_arrears_amount}}  
                                </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Total Due
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialbalance.acc_total_due}}
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Settlement
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialbalance.acc_settlement_amount}}
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Last Payment Amount
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialbalance.acc_last_payment_amount}}
                                </div> 
                        </div>
          
            </mat-card-content>
            <!-- <mat-card-actions>
                    <button mat-raised-button color="primary">View Account Details</button>				 
            </mat-card-actions> -->
            </mat-card>
           