    <mat-card *ngIf="financialdatesLoaded">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image">
            </div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle style="color:#1e1e4e;;font-weight: 600">
                FINANCIAL DATES
            </mat-card-subtitle>
            </mat-card-header>           
            
            <mat-card-content>   
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Charge Off Date
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialdates.acc_date_charge_off | date: 'dd/MM/yyyy'}}  
                                </div>   
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">   
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Date Taken On
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{financialdates.acc_date_taken_on | date: 'dd/MM/yyyy'}}
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">  
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Date Account Opened
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{financialdates.acc_date_account_opened | date: 'dd/MM/yyyy'}}  
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Effective Date
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialdates.acc_date_taken_on_effective | date: 'dd/MM/yyyy'}} 
                                </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Last Payment Date
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialdates.acc_date_paid_prior | date: 'dd/MM/yyyy'}} 
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Write Off Date
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialdates.acc_date_write_off | date: 'dd/MM/yyyy'}} 
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Closed Date
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{financialdates.acc_date_closed | date: 'dd/MM/yyyy'}}  
                                </div> 
                        </div>
          
            </mat-card-content>
            <!-- <mat-card-actions>
                    <button mat-raised-button color="primary">View Account Details</button>				 
            </mat-card-actions> -->
            </mat-card>
           