

    <mat-card *ngIf="generalinfoLoaded"> 
            <mat-card-header>
            <div mat-card-avatar class="example-header-image">
            </div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle style="color:#1e1e4e;;font-weight: 600">GENERAL INFORMATION</mat-card-subtitle>
            </mat-card-header>          
            
            <mat-card-content>   
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Age
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_age}}
                                </div>  
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">   
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Score
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{generalinfo.acc_score}}
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">  
                            <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                    Profile
                            </div>     
                            <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                    {{generalinfo.acc_profile}}
                            </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column"> 
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Recency
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_recency}}
                                </div> 
                        </div> 
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        MOS
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_mos}}
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Status
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_status}}
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Current interest Amount
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_memo_interest_amount}}
                                </div> 
                        </div>
                        <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">    
                                <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="100"  style="font-weight:bold ;text-align:left;" > 
                                        Payment Frequency
                                </div>     
                                <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="100" >  
                                        {{generalinfo.acc_payment_frequency}}
                                </div> 
                        </div>
          
            </mat-card-content>
            <!-- <mat-card-actions>
                    <button mat-raised-button color="primary">View Account Details</button>				 
            </mat-card-actions> -->
            </mat-card>
           