@import '~@angular/material/theming';
@import '../app/@themes/components/auth/auth.component.scss';

@import '../app/@themes/components/core/sidemenu/sidemenu.component.scss';
@import '../app/@themes/components/core/sidemenu-item/sidemenu-item.component.scss';

$mat-light-theme-background: (status-bar: map_get($mat-grey, 300),
app-bar: map_get($mat-grey, 100),
background: map_get($mat-indigo, 50),
hover: rgba(black, 0.04), // TODO(kara): check style with Material Design UX
card: white,
dialog: white,
disabled-button: $black-12-opacity,
raised-button: white,
focused-button: $black-6-opacity,
selected-button: map_get($mat-grey, 300),
selected-disabled-button: map_get($mat-grey, 400),
disabled-button-toggle: map_get($mat-grey, 200),
unselected-chip: map_get($mat-grey, 300),
disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

$primary : $mat-indigo;
$accent : $mat-orange;
$warn : $mat-red;

$primary-app-primary: mat-palette($primary, 50);
$primary-app-accent: mat-palette($accent, 900);
$primary-app-warn: mat-palette($warn);
$hwb-theme: mat-light-theme($primary-app-primary, $primary-app-accent, $primary-app-warn);

hwb-sidemenu {
  $sidemenu-app-primary: #4f62a9; // mat-palette($primary , 400);
  $sidemenu-app-accent: mat-palette($accent, 900);
  $sidemenu-app-warn: mat-palette($warn);
  $hwb-sidemenu-theme: mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent, $sidemenu-app-warn);
  @include mat-list-theme($hwb-sidemenu-theme);
}

hwb-sidemenu-item {
  @include sidemenu-item($hwb-theme, 20px)
}



@include angular-material-theme($hwb-theme);
@include auth($hwb-theme);


html {
  height: 100%;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
}

.myapp-no-padding-dialog .mat-dialog-container {
  background-color: #c5cae9;
}

dialog-component-dialog {
  width: 70%;
  position: fixed;
}

.dialog-component-dialog {
  position: fixed;
}

.components-container-gt-xs {
  padding: 10px;
}

.components-container-xs {
  padding: 5px !important;

}

.component-preview {
  padding: 20px;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
}

ps-content {
  padding: 10px 10px 10px 10px;
  height: calc(100% - 20px);
  border-radius: 25px;
}

.mat-drawer {
  position: relative;
  z-index: 4;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  outline: 0;
  box-sizing: border-box;
  overflow-y: hidden !important;
  transform: translate3d(-100%, 0, 0);
}

.loader-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: absolute;

  -moz-animation: cssAnimation 1s ease-in 3s forwards;
  /* Firefox */
  animation: cssAnimation 1s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 1s ease-in 3s forwards;
  /* Opera */
  animation: cssAnimation 1s ease-in 3s forwards;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}



.spinner {
  margin: 50vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 18px;
  height: 18px;


  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
  background-color: orange;
}

.spinner .bounce1 {
  background-color: blue;
  animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  background-color: red;
  animation-delay: -0.16s;
  animation-delay: -0.16s;
}



@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0)
  }

  40% {
    transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    transform: scale(0);
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}


.mat-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23c5cae9%27%2F%3E%3C%2Fsvg%3E");
}

.mat-progress-bar-buffer {
  background-color: #c5cae9;
}

.mat-progress-bar-fill::after {
  background-color: #3f51b5;
}

.mat-progress-bar.mat-accent .mat-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ff80ab%27%2F%3E%3C%2Fsvg%3E");
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #ff80ab;
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #ff4081;
}

.mat-progress-bar.mat-warn .mat-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27%23ffcdd2%27%2F%3E%3C%2Fsvg%3E");
}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #ffcdd2;
}

.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #f44336;
}

.mat-progress-spinner path,
.mat-spinner path {
  stroke: #3f51b5;
}

.mat-progress-spinner.mat-accent path,
.mat-spinner.mat-accent path {
  stroke: #ff4081;
}

.mat-progress-spinner.mat-warn path,
.mat-spinner.mat-warn path {
  stroke: #f44336;
}

.ps-content {
  margin-right: 20px !important
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 24px;
  width: 100px;
}

.mat-toolbar {
  background: darkslateblue;
  color: white;
}

.mat-progress-bar-fill::after {
  background-color: #efd121 !important;
}

hwb-user-menu {
  color: black
}
