
<div>
        <mat-card style="width:96%;" >                        
                <mat-card-content>
                        <div *ngIf="category.length === 0">
                                <h3>Sample videos available in our Streaming Service</h3>
                                
                                <hr/>
                                <h4>Want the full experience? Click
                                        <a [routerLink]="['/auth/authstest/streaming/register']">here</a> and register for specific Streaming Categories!</h4>
                                </div>
                                <div *ngIf="category.length > 0">
                                <h3>You are subscribed to the <span class="video-category">{{category}}</span> of our Streaming Service</h3> 
                                
                                <hr/>
                                <h4><span class="video-category">{{videos.length}}</span> total videos</h4>
                        </div>              
                </mat-card-content>                       
        </mat-card>  
</div>


<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px"  fxFlexFill style="padding: 20px;">

        <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)" *ngFor="let video of videos">                       
                        <mat-card   style="height:330px;width:100%;padding-top:10px" >
                        
                                <mat-card-content>
                                        <iframe style="padding-top:10px;" class="embed-responsive-item" [src]="sanitizeUrl(video.url)" style="width:100%;height:340px"></iframe>                         
                                </mat-card-content>                       
                        </mat-card>                           
                    </mat-grid-tile>
         </mat-grid-list>       

</div>

