             

       
<br/> 
<div>     
    <mat-card  (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)" >
            <mat-card-title>                       
                <h3>Streaming Video Categories</h3>   
            </mat-card-title> 
            <mat-card-content>
                    <mat-list> 
                        <div style="width:25%">
                            <a mat-list-item (click)="$event.stopPropagation()" class="list-group-item active">Streaming Catetories
                                    <input title="toggle all" type="checkbox" [(ngModel)]="checkedAll" class="all pull-right" (change)="toggleCategories($event)">
                            </a> 
                        </div>                             
                    </mat-list>
        
                    <mat-grid-list cols="2" rowHeight="12:1">                 
                        <mat-grid-tile style="text-align:left;align-items: left;" *ngFor="let category of categories">
                            <a mat-list-item (click)="toggleCategory(category)" [ngClass]="{'list-group-item': true, 'registered': category.registered, 'streaming-category': true }"
                            style="padding:0rem 0rem 0rem 0rem;margin:0rem 0rem 0rem 0rem;">
                            {{category.category}}
                            <!-- <button style="width:50px;" class="category-button btn btn-default btn-sm pull-right" (click)="viewCategory($event, category.category)">View</button> -->
                            <button mat-raised-button color="primary" (click)="viewCategory($event, category.category)">View</button>
                        </a>   
                         
                        </mat-grid-tile>               
                    </mat-grid-list>
            </mat-card-content>
            <mat-card-footer>
                    <div style="padding: 10px 10px 10px 20px">
                            <!-- <button (click)="update()" class="list-group-item active save">Update</button> -->
                            <button mat-raised-button color="accent" (click)="update()">Update</button>
                    </div>
            </mat-card-footer>
    </mat-card>
</div>    

