$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.bg-primary {
  background: #4f62a9;
  color: #fff;
}

.box .box-content {
  position: relative;
  height: 186px;
}

.box .box-content .box-content-inner {
  position: absolute;
  top: -34px;
  left: 34px;
  right: 34px;
  height: 186px;
}

.box .box-header {
  height: 186px;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

.mat-card-content,
.mat-card-subtitle {
  font-size: 14px;
}

.mat-card-content>:first-child,
.mat-card>:first-child {
  margin-top: 0;
}

.app.teal-light .mat-card {
  background: #fff;
  color: rgba(0, 0, 0, .87);
}


.box .box-content .box-button {
  bottom: 16px;
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
}

.mat-form-field-wrapper {
  position: relative;
}

.mat-form-field-wrapper {
  padding-bottom: 1.34375em;
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-form-field-infix {
  padding: 0.5em 0;
}



.mat-card {
  background: #fff;
  color: rgba(0, 0, 0, .87);
  overflow: hidden;
}

form {
  max-width: 40%;
  display: block;
  margin-top: 0em;
}


@media (max-width: 768px) {
  form {
    max-width: 80%;
  }
}


@media (max-width: 1200px) {

  form {
    max-width: 60%;
  }
}
