.button-header {
	background-color: #327ebd;
	color: white;
	padding: 0 5px;
}
.button-container {
	padding: 5px 15px 15px 15px;
}
.button-component-holder {
	border: 1px solid #327ebd;
	background-color: white;

	h4 {
		color: #327ebd;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}

.account-searchloading
{
	//width:calc(100vw - 255px); 
	margin-right: 20px;
	height: calc(100vh - 125px);
	background-image: url('assets/Traqtioncollect.png');
	background-repeat:no-repeat ;//repeat;
	background-position: center;
}