<perfect-scrollbar style="height: calc(100% - 60px);" (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)">
  <div fxLayout="column">
    <div *ngIf="!iconOnly" fxLayoutAlign="space-around center" [style.margin]="'10px 0px'">
    </div>
    <div *ngIf="iconOnly" style="height: 100px;" fxLayoutAlign="space-around center">
    </div>
    <hwb-sidemenu-item (onLinkClick)="clicklink()" *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly">
    </hwb-sidemenu-item>
  </div>

</perfect-scrollbar>
