.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  //  margin-top: 200px;
    width: 100%;  
    /* transform: rotateY(180deg); */
}

// .card-wrapper {
//     perspective: 800px;
// }

.card {
    // border-radius: 8px;
    position: relative;
    // height: 200px;
    // width: 120px;
    transform-style: preserve-3d;
}
.cardholder{
  padding-bottom: 20px !important;
}
// .mat-dialog-container { 
//     background-color: #eaefee !important;
//   }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
  
}

.card-title {
  //  padding: 50px;
    backface-visibility: hidden;
    height: 100%;
    width: calc(100% - 2px);// 50%;
    position: absolute;
    //text-align: center;
   // border-radius: 8px;
    color: white;
  //  user-select: none;
    cursor: pointer;
   // flex:  1;

   // line-height: 100px;
   // font-size:30px;
}

.front {
  height: 100%;
    //background-color:green !important;
    color: black;
    transform: rotateY(0deg);
}

.back {
  //  background-color:#d9eff7;;
  height: 100%;
  //background-color:magenta;
    color: black;
    transform: rotateY(180deg);
}
.clear {clear: both;}

.tab-content {
  padding: 16px;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.documentation {
  background: #F0F0F0;
  padding: 1.5em;
  font-family: serif;
}

////statatatat@at-root
.tp-wrapper {
  -webkit-perspective: 800px;
          perspective: 800px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tp-box {
  position: relative;
 // width: 200px;
  height: 250px;
  margin: 0.5rem auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform         : transform 1s;
      -ms-transform         : transform 1s;
          transform         : transform 1s;
}
.tp-box__side {
   width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  color: #fff;
 // text-align: center;
  //line-height: 100px;
 // font-size: 24px;
 // font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tp-box__front {
 //background: green;
  -webkit-transform : rotateY(0deg);
  -ms-transform     : rotateY(0deg);
  transform         : rotateY(0deg);
}
.tp-box__back {
  //background: #23262d;
  -webkit-transform : rotateY(-180deg);
  -ms-transform     : rotateY(-180deg);
  transform         : rotateY(-180deg);
}

form {
  max-width: 40%;  
    display: block;
    margin-top: 0em;
}

@media (max-width: 750px) {
  .tp-box { 
    height: 400px;
    margin: 0.5rem auto;  
  }
}


@media (max-width: 800px) {
  .tp-box { 
    height: 500px;
    margin: 0.5rem auto;  
  }
}

@media (max-width: 900px) {
  .tp-box { 
    height: 500px;
    margin: 0.5rem auto;  
  }
}

@media (max-width: 1030px) {
  .tp-box { 
    height: 550px;
    margin: 0.5rem auto;  
  }
}

@media (max-width: 1050px) {
  .tp-box { 
    height: 500px;
    margin: 0.5rem auto;  
  }
}

@media (max-width: 1100px) {
  .tp-box {
    height: 275px;
    margin: 0.5rem auto; 
  }
}
@media (max-width: 1150px) {
  .tp-box {
    height: 275px;
    margin: 0.5rem auto; 
  }
}

@media (max-width: 1200) {
  .tp-box { 
    height: 260px;
    margin: 0.5rem auto;  
  }
}
@media (max-width: 1250) {
  .tp-box { 
    height: 260px;
    margin: 0.5rem auto;  
  }
}

@media (max-width: 1300px) {
  .tp-box {
    height: 250px;
    margin: 0.5rem auto; 
  }
}

@media (max-width: 1331px) {
  .tp-box {
    height: 270px;
    margin: 0.5rem auto; 
  }
}