<h1 mat-dialog-title >Edit Addresses</h1>
<div mat-dialog-content  style="background-color: #eaefee;">
    <toaster-container [toasterconfig]="config"></toaster-container>
  <mat-card *ngIf="addressLoaded" class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; max-width: 100%; place-content: center; align-items: center;">
        <div class="row">   
            <mat-radio-group [(ngModel)]="selectedAddrressType" class="example-radio-button">
                <mat-radio-button *ngFor="let addressoption of addressoptions" [value]="addressoption" class="example-radio-button"
                (change)="radioChange($event)">
                {{addressoption}}
                </mat-radio-button>
                </mat-radio-group>
                <!-- Your favorite season is: {{selectedAddrressType}} -->
                <!-- <div class="example-selected-value mat-title">Your favorite season is: {{favoriteSeason}}
                </div> -->
    </div>
    <div class="row">
            <div fxFlex.xs="100"  fxFlex.xl="100"  fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" style="padding:10px;">
                <mat-form-field class="full-width">
                    <!-- <input type="text" name="adr_line_1" id="adr_line_1" [(ngModel)]="contactaddress.adr_line_1" tabindex="1" class="form-control" placeholder="Address Line 1" value="" required matInput> -->
                    <input matInput   #search [formControl]="searchField" placeholder="Search Address" class="form-control" autocomplete="off" > 
                </mat-form-field>
            </div>
        </div>
      <div class="row">
          <div fxFlex.xs="100"  fxFlex.xl="100"  fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" style="padding:10px;">
              <mat-form-field class="full-width">
                  <input type="text" name="adr_line_1" id="adr_line_1" [(ngModel)]="contactaddress.adr_line_1" tabindex="1" class="form-control" placeholder="Address Line 1" value="" required matInput>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div fxFlex.xs="100"  fxFlex.xl="100"  fxFlex.lg="100" fxFlex.md="50" fxFlex.sm="100" style="padding:10px;">
              <mat-form-field class="full-width">
                  <input type="text" name="adr_line_2" id="adr_line_2" [(ngModel)]="contactaddress.adr_line_2" tabindex="2" class="form-control" placeholder="Address Line 2" value="" required matInput>
              </mat-form-field>
          </div>
      </div>
      <!-- <div class="row">
            <div fxFlex.xs="100"  fxFlex.xl="100"  fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" style="padding:10px;">
                <mat-form-field class="full-width">
                    <input type="text" name="adr_suburb" id="adr_suburb" [(ngModel)]="contactaddress.adr_suburb" tabindex="3" class="form-control" placeholder="Suburb" value="" required matInput>
                </mat-form-field>
            </div>           
      </div> -->

      <div class="row">
            <div fxFlex.xs="100"  fxFlex.xl="50"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" style="padding:10px;">
                <mat-form-field class="full-width">
                        <input type="text" name="adr_suburb" id="adr_suburb" [(ngModel)]="contactaddress.adr_suburb" tabindex="3" class="form-control" placeholder="Suburb" value="" required matInput>
              
                  
                </mat-form-field>
            </div>
            <div fxFlex.xs="100"  fxFlex.xl="50"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" style="padding:10px;">
                <mat-form-field class="full-width">
                        <input type="text" name="adr_city_or_Town" id="adr_city_or_Town" [(ngModel)]="contactaddress.adr_city_or_Town" tabindex="3" class="form-control" placeholder="City/Town" value="" required matInput>
               
                     </mat-form-field>
            </div>
        </div>

      <!-- <div class="row">
          <div fxFlex.xs="100"  fxFlex.xl="50"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" style="padding:10px;">
              <mat-form-field class="full-width">
                  <input type="text" name="adr_city_or_Town" id="adr_city_or_Town" [(ngModel)]="contactaddress.adr_city_or_Town" tabindex="3" class="form-control" placeholder="City/Town" value="" required matInput>
              </mat-form-field>
          </div>
          <div fxFlex.xs="100"  fxFlex.xl="50"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" style="padding:10px;">
              <mat-form-field class="full-width">
                  <input type="email" name="adr_province_or_state" id="adr_province_or_state" [(ngModel)]="contactaddress.adr_province_or_state" tabindex="4" class="form-control" placeholder="Province/State" value="" required matInput>
              </mat-form-field>
          </div>
      </div> -->
      <div class="row">  
            <div fxFlex.xs="100"  fxFlex.xl="33"  fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" style="padding:10px;">
                    <mat-form-field class="full-width">
                        <input type="text" name="adr_city_or_Town" id="adr_city_or_Town" [(ngModel)]="contactaddress.adr_city_or_Town" tabindex="3" class="form-control" placeholder="City/Town" value="" required matInput>
                    </mat-form-field>
                </div>       
            <div fxFlex.xs="100"  fxFlex.xl="33"  fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" style="padding:10px;">
                <mat-form-field class="full-width">
                    <input type="text" name="adr_country" id="adr_country" [(ngModel)]="contactaddress.adr_country" tabindex="5" class="form-control" placeholder="Country" value="" required matInput>
                </mat-form-field>
            </div>
            <div fxFlex.xs="100"  fxFlex.xl="33"  fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" style="padding:10px;">
                    <mat-form-field class="full-width">
                        <input type="text" name="adr_post_code" id="adr_post_code" [(ngModel)]="contactaddress.adr_post_code" tabindex="6" class="form-control" placeholder="Postal Code" value="" required matInput>
                    </mat-form-field>
                </div>
        </div>

  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="updateContactAddress()">Submit</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data.per_code" cdkFocusInitial>Close</button>
</div>
