<h1 mat-dialog-title>EDIT PERSONAL DETAILS</h1>
<div mat-dialog-content style="background-color: #eaefee;">
    <mat-card style="border-bottom-left-radius: 1px !important; border-bottom-right-radius: 1px !important;" *ngIf="contactpersonLoaded" class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; max-width: 100%; place-content: center; align-items: center;">
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="row"> 
            <div fxFlex.xs="100" fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"  style="padding:10px;"  >
                    <mat-form-field *ngIf="titleloaded">
                        <mat-select placeholder="Title" [(ngModel)]="contactperson.ptl_id" name="ptl_id" >
                          <mat-option *ngFor="let title of titles " [value]="title.ptl_id">
                                    {{ title.ptl_description }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
            </div>     
            <div fxFlex.xs="100" fxFlex.xl="33"  fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"  style="padding:10px;" >  
                <mat-form-field class="full-width">
                    <input type="email" name="ped_name_1" id="ped_name_1" [(ngModel)]="contactperson.ped_name_1" tabindex="1"
                     class="form-control" placeholder="First Name" value="" required matInput>
                    </mat-form-field>
                    
            </div> 
            <div fxFlex.xs="100" fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"   style="padding:10px;" > 
                 <mat-form-field class="full-width">
                    <input type="text" name="ped_surname" id="ped_surname" [(ngModel)]="contactperson.ped_surname" tabindex="1"
                     class="form-control" placeholder="Surname" value="" required matInput>
                    </mat-form-field> 
            </div>
    </div> 
        
      <div class="row"> 
          <div fxFlex.xs="100"  fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"  style="padding:10px;" > 
              <mat-form-field sclass="full-width">
                  <input [min]="minDate" [max]="maxDate"  matInput [matDatepicker]="picker1" placeholder="Date of Birth"  [(ngModel)]="contactperson.ped_date_of_birth" name="ped_date_of_birth" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker  #picker1></mat-datepicker>									
              </mat-form-field>
          </div>     
          <div fxFlex.xs="100"  fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"  style="padding:10px;" > 
              <mat-form-field *ngIf="languageloaded">
                  <mat-select placeholder="Language" [(ngModel)]="contactperson.lng_id" name="lng_id" >
                    <mat-option *ngFor="let language of languages " [value]="language.lng_id">
                              {{ language.lng_Description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>     
          <div fxFlex.xs="100"  fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33"  style="padding:10px;" >  
              <mat-form-field *ngIf="maritalstattusloaded">
                  <mat-select placeholder="Marital Status" [(ngModel)]="contactperson.mts_id" name="mts_id" >
                    <mat-option *ngFor="let status of maritalstatuses " [value]="status.mts_id">
                              {{ status.mts_description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>        
     </div>     
        
     <div class="row"> 
        <div fxFlex.xs="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" > 
            <mat-form-field class="full-width">
                <input type="text"  name="ped_employer" id="ped_employer" [(ngModel)]="contactperson.ped_employer" tabindex="2"
                 class="form-control" placeholder="Employer" required matInput>
                </mat-form-field>
        </div>     
        <div fxFlex.xs="100"  fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" >  
            <mat-form-field class="full-width">
                <input type="text"  name="ped_occupation" id="ped_occupation" [(ngModel)]="contactperson.ped_occupation" tabindex="2" 
                class="form-control" placeholder="Occupation" required matInput>
            </mat-form-field>
        </div>        
   </div>      

   <div class="row"> 
      <div fxFlex.xs="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" > 
          <mat-form-field class="full-width">
              <input type="text" name="ped_department" id="ped_department" [(ngModel)]="contactperson.ped_department" tabindex="1"
               class="form-control" placeholder="Department" value="" required matInput>
          </mat-form-field>
      </div>     
      <div fxFlex.xs="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" >  
          <mat-form-field  class="full-width">
              <input  [min]="minDate" [max]="maxDate"  matInput [matDatepicker]="picker2" placeholder="Date Employed"  [(ngModel)]="contactperson.ped_date_employed" name="ped_date_employed" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker  #picker2></mat-datepicker>									
          </mat-form-field>
      </div>        
 </div>  
      
    <div class="row"> 
        <div fxFlex.xs="100"  fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" > 
            <mat-form-field class="full-width">
                <input type="text" name="ped_supervisor" id="ped_supervisor" [(ngModel)]="contactperson.ped_supervisor" tabindex="1"
                 class="form-control" placeholder="Supervisor" value="" required matInput>
            </mat-form-field>
    
        </div>     
        <div fxFlex.xs="100"  fxFlex.xl="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" >  
            <mat-form-field class="full-width">
                <input type="text" name="ped_clock_number" id="ped_clock_number" [(ngModel)]="contactperson.ped_clock_number" tabindex="1"
                 class="form-control" placeholder="Employee Code" value="" required matInput>
            </mat-form-field>
        </div>        
    </div>  
       
    <div class="row"> 
        <div fxFlex.xs="100"  fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" > 
            <mat-form-field class="full-width">
                <input type="text" name="ped_salary" id="ped_salary" [(ngModel)]="contactperson.ped_salary" tabindex="1"
                 class="form-control" placeholder="Salary Amount" value="" required matInput>
            </mat-form-field>
        </div>     
        <div fxFlex.xs="100" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"  style="padding:10px;" >  
    
            <mat-form-field *ngIf="salarypaymentsloaded">
                <mat-select placeholder="Salary Pay Date" [(ngModel)]="contactperson.spm_id" name="spm_id" >
                  <mat-option *ngFor="let salary of salarypaymentdates" [value]="salary.spm_id">
                            {{ salary.spm_description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
           
        </div>        
   </div>      
     
    </mat-card>

</div>
<div mat-dialog-actions>
  <button  mat-raised-button color="primary"  (click)="updatePerson()">Submit</button>
  <button  mat-raised-button color="accent" [mat-dialog-close]="data.per_code" cdkFocusInitial>Close</button>
</div>