<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div style="position: absolute;margin: 0 auto; height: 100%;width: 100%">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div class="h-100" fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center; align-items: center;">
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" fxflex="80" fxflex.gt-sm="30" fxflex.sm="60"
      novalidate="" class="ng-pristine ng-invalid ng-touched" style="flex: 1 1 100%; box-sizing: border-box;margin:auto !important;">
      <mat-card class="p-0 mat-elevation-z24 box mat-card">
        <div class="bg-primary box-header" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center; align-items: center;">
          <img _ngcontent-c1="" src="./assets/images/hollywoodlogo.png" width="170px">
          <a mat-button="" routerlink="/#/logins" class="mat-button" href="/#/logins" tabindex="0" aria-disabled="false">
            <span class="mat-button-wrapper">Do you have an account? Sign in now!</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </a>
        </div>
        <mat-card-content class="box-content mat-card-content" fxlayout="column" fxlayoutalign="end center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center flex-end; align-items: center;">
          <mat-card class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center"
            style="flex-direction:column; box-sizing:border-box; display:flex; max-width:100%; place-content:center; align-items:center;">
            <span class="box-content-header">register account</span>
            <mat-form-field class="full-width">
              <input type="text" formControlName="username" tabindex="1" class="form-control" placeholder="Username"
                value="" required matInput>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input type="email" formControlName="email" tabindex="1" class="form-control" placeholder="email" value=""
                required matInput>
            </mat-form-field>
            <div formGroupName="passwordForm" style="width:100%">
              <mat-form-field class="full-width">
                <input type="password" formControlName="password" tabindex="2" class="form-control" placeholder="Password"
                  required matInput>
                <!-- <mat-error *ngIf="passwordForm.hasError('required', 'password')">
                        Please enter your newpassword
                        </mat-error> -->
              </mat-form-field>
              <mat-form-field class="full-width">
                <input type="password" formControlName="confirmpassword" tabindex="2" [errorStateMatcher]="matcher"
                  class="form-control" placeholder="Confirm Password" required matInput>
                <!-- <mat-error *ngIf="passwordForm.hasError('notSame')">
                        Passwords do not match
                        </mat-error>   -->
              </mat-form-field>
            </div>
          </mat-card>
          <button style="position:absolute;" class="mat-elevation-z12 box-button mat-raised-button mat-primary" color="primary"
            mat-raised-button="" type="submit" [disabled]="!registerForm.valid || spinnerOn">
            <span class="mat-button-wrapper">Register</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </button>
          <mat-progress-bar mode="buffer" *ngIf="spinnerOn"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
