
<br/> 
<div>      
    <mat-card (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)" >
        <mat-card-title>                       
            <div class="">
                <a href="#" class="active" id="login-form-link"><strong>{{userName}}</strong> claims:</a>
            </div>
        </mat-card-title> 
        <mat-card-content>
                <div class="col-lg-12">
                        <div *ngFor="let claim of claims">
                            Type:
                            <strong class="claimType">{{claim.type}}</strong>
                            <br/> Value:
                            <span>{{claim.value}}</span>
                            <hr/>
                        </div>
                    </div>
         
        </mat-card-content>
        <mat-card-footer>
        
                <br/>
                <br/>
        </mat-card-footer>
    </mat-card>
</div>   