

    <mat-card>
    <mat-card-header>
    <div mat-card-avatar class="example-header-image">
    </div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle style="color:#1e1e4e;;font-weight: 600">ACCOUNT NUMBER: {{account.acc_account_code}}</mat-card-subtitle>
    </mat-card-header>
       
    <mat-card-content>   
                <div class="row"> 
                        <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="50"  style="font-weight:bold ;text-align:left;" > 
                                Book Name:
                        </div>     
                        <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="50" >  
                                {{account.bck_description}}
                        </div>  
                </div> 
                <div class="row">   
                    <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="50"  style="font-weight:bold ;text-align:left;" > 
                            Customer Name:
                    </div>     
                    <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="50" >  
                            {{account.fullname}}
                    </div> 
                </div> 
                <div class="row">  
                    <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="50"  style="font-weight:bold ;text-align:left;" > 
                        Phone Number
                    </div>     
                    <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="50" >  
                            {{account.pho_phone_number}} 
                    </div> 
                </div> 
                <div class="row"> 
                        <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="50"  style="font-weight:bold ;text-align:left;" > 
                                ID Number
                        </div>     
                        <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="50" >  
                                {{account.ped_id_number}}  
                        </div> 
                </div> 
                <div class="row">    
                        <div fxFlex.xs="100" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="50"  style="font-weight:bold ;text-align:left;" > 
                                Account Status
                        </div>     
                        <div fxFlex.xs="100" fxFlex.lg="60" fxFlex.md="50" fxFlex.sm="50" >  
                                <i  class="fa fa-info-circle" style="font-size:18px;color:green;" aria-hidden="true"></i> 
                        </div> 
                </div>
  
    </mat-card-content>
    <mat-card-actions>
        	<button mat-raised-button color="primary" (click)='ViewAccountDetails(account.acc_code)'>View Account Details</button>				 
    </mat-card-actions>
    </mat-card>
   