$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

form{
    max-width:100% !important;
}
.full-width {
  width: 100%;
}
h1{
    color: white
}
.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.bg-primary {
  background: #4f62a9;
  color: #fff;
}

.box .box-content {
  position: relative;
  height: 315px;
}

.box .box-content .box-content-inner {
  position: absolute;
  top: -34px;
  left: 34px;
  right: 34px;
  height: 315px;
}

.box .box-header {
  height: 186px;
}

.h-100 {
  height: 100%!important;
}

.w-100 {
  width: 100%!important;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

.mat-card-content, .mat-card-subtitle {
  font-size: 14px;
}

// .mat-dialog-container { 
//   background-color: #eaefee !important;
// }

.mat-dialog-container {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #a3cfea;
  color: rgba(0, 0, 0, 0.87);
}

// /deep/ .mat-sort-header-container{
//   justify-content: center;
// }
/deep/ .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  background-color: #4f62a9 !important;
}

.mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #e65100;
}

.mat-radio-inner-circle {
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform ease 280ms,background-color ease 280ms;
  width: 20px;
  transform: scale(.001);
}

.mat-radio-label-content {
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 8px;
  padding-right: 0;
}

.mat-radio-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
}

.example-radio-button{
  margin: 5px;
}

.mat-radio-button {
  display: inline-block;
  margin: 5px;
}

.mat-radio-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 5px;
}

.mat-radio-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 0;
}

.app.teal-light .mat-card {
  background: #fff;
  color: rgba(0,0,0,.87);
}


.box .box-content .box-button {
  bottom: 16px;
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
}

.mat-form-field-wrapper {
  position: relative;
}
.mat-form-field-wrapper {
  padding-bottom: 1.34375em;
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-form-field-infix {
  padding: 0.5em 0;
  //border-top: 0.84375em solid transparent;
}

.mat-card {
  background: #fff;
  color: rgba(0,0,0,.87);
  overflow: hidden;
}

form {
  max-width: 40%;  
    display: block;
    margin-top: 0em;
}

@media (max-width: 768px) {
  form {
    max-width: 80%;  
  }
}

@media (max-width: 1200px) {

  form {
    max-width: 60%;   
  }
}