<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
	<toaster-container [toasterconfig]="config"></toaster-container>
<!-- <div fxLayout="column" fxFlexFill fxLayoutAlign="center center"> -->
        <div fxLayout="column" style="width:25%;">
        <div class="mat-elevation-z4">
            <mat-card>
                <mat-card-title style="text-align: center;">Forgot Password
                    <!-- <a class="redirect" [routerLink]="['/registers']">Register an account</a> -->
                </mat-card-title>
                <mat-card-content>
                    <form #userForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch">
                        <mat-form-field class="full-width">
                          <input type="email" name="email" id="email" [(ngModel)]="passwordResetModel.email" tabindex="1" class="form-control" placeholder="Email"  required matInput>
                        </mat-form-field>                     
                        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || formSubmitted" (click)="forgotPassword()">Submit</button>                       
                    </form>
                    <br>
                    <a class="redirect" [routerLink]="['/logins']">login</a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> 

