.mat-form-field-infix {
    position: relative;
    flex: auto;
    min-width: 0;
    width: 75%;
    border-top: 5px;
}

.mat-card-infix {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 10px 25px 5px 25px;
    border-radius: 8px;
}

.mat-divider {
    /* border-top-color: #06c; */
    height: 5px;
    background-color: #5c6bc0;
}


input.ng-invalid.ng-touched {
    // border: 1px solid red;
    border: red;
}

.select-Input-filter {
    height: 35px !important;
    padding: 10px !important;
  }

  .loading-indicator:before {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
