

<!-- <mat-dialog-content> -->
    <h2 mat-dialog-title>{{Title}}</h2>
    <toaster-container [toasterconfig]="config"></toaster-container>
    <form #userForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch" >
    <mat-form-field class="full-width">
            <input type="email" name="username" id="username" [(ngModel)]="user.userName" tabindex="1"
              class="form-control" placeholder="Username" required matInput>
              <mat-error>
                  Username required.
                 </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="email" id="email" name="email" [(ngModel)]="user.email" tabindex="2" 
      class="form-control" placeholder="Email Address" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" matInput>
      <mat-error>
          Enter a valid email.
         </mat-error>
    </mat-form-field> 
    <mat-form-field class="full-width" *ngIf = "required">
        <input type="password"  name="password" id="password" [(ngModel)]="user.password" tabindex="3" 
        class="form-control" placeholder="Password" [required] = "required" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,15}$" matInput>
        <mat-error>
            Password must 6 to 15 characters, and contain at least one number, special character and capital letter!
           </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" *ngIf = "required">
            <input type="password"  name="confirmPassword" id="confirmPassword" [(ngModel)]="user.confirmPassword" tabindex="4" 
            class="form-control" placeholder="Confirm Password" (focusout)="checkArePasswordsValid()" required = "required" matInput>
            <mat-error *ngIf="!passwordsAreEqual">
                Passwords must match.
            </mat-error>
         
    </mat-form-field>
    <span *ngIf="!passwordsAreEqual" style="display: block; color: red;">
            Passwords must match.
    </span>
    <mat-checkbox class="example-margin"  name="is-admin" [(ngModel)]="user.isAdmin"> Admin User</mat-checkbox>    
</form>
<!-- </mat-dialog-content> -->

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="(!userForm.valid || !passwordsAreEqual)" (click)="saveUser()">Submit</button>
</mat-dialog-actions>
