<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">      
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
            <mat-form-field class="mat-form-field-infix">
                    <mat-label style="font-weight:bold; font-size: 1.2em;">Call ID</mat-label>
                <input matInput type="text" placeholder="Call ID" disabled [value]="recording.call_ID">
            </mat-form-field>
        </div>
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >                
            <mat-form-field class="mat-form-field-infix">
                <mat-label style="font-weight:bold; font-size: 1.2em;">Agent</mat-label>
                <input matInput type="text" placeholder="Agent" disabled [value]="recording.call_Name">
              </mat-form-field>
        </div>
    </div>          
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">      
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
            <mat-form-field class="mat-form-field-infix">
                <mat-label style="font-weight:bold; font-size: 1.2em;">Call StartTime</mat-label>
                <input matInput type="text" placeholder="Call StartTime" disabled [value]="formattedstarttime">                
            </mat-form-field>
        </div>
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" >                
            <mat-form-field class="mat-form-field-infix">
                <mat-label style="font-weight:bold; font-size: 1.2em;">Telephone number</mat-label>
                <input matInput type="text" placeholder="Telephone number" disabled [value]="recording.tP_TelephoneNumber">
              </mat-form-field>
        </div>
    </div>      
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">      
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
            <mat-form-field class="mat-form-field-infix">
                <mat-label style="font-weight:bold; font-size: 1.2em;">Call Duration (ms)</mat-label>
                <input matInput type="text" placeholder="Call Duration (ms)" disabled [value]="recording.tP_Duration">
            </mat-form-field>
        </div>
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"> 
        </div>
    </div>              
    <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">      
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
          <audio controls preload>
            <source *ngIf="recordingRemoteLocation!=''" [src]="recordingRemoteLocation" type="audio/webm"/>
            <source *ngIf="recordingRemoteLocation!=''" [src]="recordingRemoteLocation" type="audio/wav"/>
            <source *ngIf="recordingRemoteLocation!=''" [src]="recordingRemoteLocation" type="audio/mpeg"/>
            <source *ngIf="recordingRemoteLocation!=''" [src]="recordingRemoteLocation" type="audio/ogg" codecs="opus"/>            
            <source src="http://localhost:53986/PlayedRecordings/test.wav" type="audio/wav"/> 
              <p>Your browser does not support native <code>audio</code>, but you can <a [href]="recordingRemoteLocation">download this file</a> to listen on your device.</p>
          </audio>
        </div>       
    </div>       -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">      
        <div fxFlex.xs="80" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
        
        </div>       
    </div>                      
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button *ngIf="recordingRemoteLocation!=''" class="mat-raised-button mat-primary" (click)="downloadSingleRecording()" [disabled]="downloadingFile">            
        <i class="fa fa-file-audio-o"></i>download
    </button>
</mat-dialog-actions>
